<link href="{{ url_for('static', path='/css/time.css') }}" rel="stylesheet">
<header>

    <h1>Here's A Timeline For Your Payments</h1>
</header>

<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">First Payment</span>
        <span class="time-wrapper"><span class="time">Today!</span></span>
      </div>
      <div class="desc">$25</div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Second Payment</span>
        <span class="time-wrapper"><span class="time">One Month Away</span></span>
      </div>
      <div class="desc">$25</div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Third Payment</span>
        <span class="time-wrapper"><span class="time">Two Months Away</span></span>
      </div>
      <div class="desc">$25</div>
    </div>
  </li>


  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Last Payment</span>
        <span class="time-wrapper"><span class="time">Three Months Away</span></span>
      </div>
      <div class="desc">$25</div>
    </div>
  </li>
  </ul>
